.result{
display: flex;
flex-direction: column;
height: 30%;
top: 30%;
justify-content: space-around;
align-items: center;
justify-items: center;
position: absolute;
width: 100%;
}


@media screen and (max-width: 1000px){


}