.main-container{
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 0.1fr;
    grid-template-areas: "heading heading" "planets-select   time" "searchButton searchButton";

}

.selectPlanet{
    margin: 5px;
}

.Heading{
    grid-area: heading;
    text-align: center;
    padding: 10px;
}
.searchButton{
    grid-area: searchButton;
    text-align: center;
}

.time{
    grid-area: time;
    width: 175px;
}

.select-planets-container{
    width: 80%;
    display: grid;
    /* grid-template-columns:1fr 1fr 1fr 1fr; */
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-area: planets-select;
    justify-self: center;
    
}

@media screen and (max-width: 1000px){
	.main-container{
		grid-template-columns: 1fr;
		grid-template-areas: 
			'heading'
			'planets-select'
            'time'
            'searchButton'
		;
	}

	.time{
        justify-self: center;
        width: 100%;
        text-align: center;

	}

}

h1,h2,h3,h4,h5,h6{
    margin: 0;
}